# GRUB Bootloader Configuration for LibreForgeOS
# Shared boot configuration for all distributions

set default="0"
set timeout="10"
set timeout_style="menu"

# GRUB background image (optional)
# background_image /boot/grub/trekforge-background.png

### TrekForgeOS Boot Entries ###

### Debian/Ubuntu Entry
menuentry 'TrekForgeOS Debian Live (UEFI)' {
  search --set=root --label TREKFORGE-DEB
  echo 'Loading Debian-based TrekForgeOS...'
  linux /live/vmlinuz boot=live components hostname=trekforge username=user quiet splash
  initrd /live/initrd.img
}

menuentry 'TrekForgeOS Debian Live (No Graphics)' {
  search --set=root --label TREKFORGE-DEB
  echo 'Loading Debian-based TrekForgeOS...'
  linux /live/vmlinuz boot=live components hostname=trekforge username=user verbose
  initrd /live/initrd.img
}

### Fedora Entry
menuentry 'TrekForgeOS Fedora Live (UEFI)' {
  search --set=root --label TREKFORGE-FED
  echo 'Loading Fedora-based TrekForgeOS...'
  linux /images/pxeboot/vmlinuz quiet rhgb
  initrd /images/pxeboot/initrd.img
}

menuentry 'TrekForgeOS Fedora Live (Troubleshooting)' {
  search --set=root --label TREKFORGE-FED
  echo 'Loading Fedora-based TrekForgeOS (Safe Mode)...'
  linux /images/pxeboot/vmlinuz verbose
  initrd /images/pxeboot/initrd.img
}

### Arch Entry
menuentry 'TrekForgeOS Arch Live (UEFI)' {
  search --set=root --label TREKFORGE-ARCH
  echo 'Loading Arch-based TrekForgeOS...'
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_http_srv=http://%IP%:8002/ quiet
  initrd /arch/boot/intel-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

menuentry 'TrekForgeOS Arch Live (Console)' {
  search --set=root --label TREKFORGE-ARCH
  echo 'Loading Arch-based TrekForgeOS (Console)...'
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archiso_http_srv=http://%IP%:8002/
  initrd /arch/boot/intel-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

### System Tools ###
submenu 'System Tools' {
  menuentry 'Disk Utilities' {
    echo 'Booting into disk utilities...'
  }
  
  menuentry 'Memory Test (MEMTEST86+)' {
    insmod part_msdos
    insmod ext2
    set root='(hd0,msdos1)'
    multiboot /boot/memtest86+.bin
  }
}

### Exit/Reboot ###
menuentry 'Reboot' {
  reboot
}

menuentry 'Power Off' {
  halt
}
